@model HotelEntity.Entites.Payments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingInformation.RoomNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingInformation.RoomNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyPersonPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyPersonPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyGuestFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyGuestFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extrasprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extrasprice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreakfastPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreakfastPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LunchPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LunchPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DinnerPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DinnerPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildFeeTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildFeeTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAccommodationFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAccommodationFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRoomFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRoomFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBreakFastFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBreakFastFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLunchFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLunchFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDinnerFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDinnerFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totaldayspersonfee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totaldayspersonfee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
