
@model IEnumerable<HotelEntity.Entites.BookingInformation>

@{
    ViewData["Title"] = "Index";
}

<h2>Hotel Manager Index</h2>
<div class="row">
    @foreach (var item in Model)
    {
        foreach (var guests1 in item.GuestInformation)
        {
            <div class="card bg-info p-2 mt-1 text-white  text-center">
                <strong>Ad: </strong>@guests1.GuestName <strong>Soyad: </strong>@guests1.GuestSurName
                <strong>Oda Numarası: </strong>@item.RoomNo
                <div class="bg-info text-white  text-center">
                    <strong>Geliş Tarihi: </strong>@item.Arrivaldate.ToString("dd-MM-yyyy") <strong>Çıkış Tarihi: </strong>@item.DepartureDate.ToString("dd-MM-yyyy") <strong>Gün Sayısı: </strong>@item.SumDays
                </div>
                @foreach (var payments in item.Payments)
                {                   
                            <strong>Fiyat: </strong>@payments.TotalPrice.ToString("C")
                   
                }
            </div>
        }
    }
</div>


