@using HotelEntity.Entites;
@model List<BookingInformation>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-sm table-striped table-hover table-bordered table-responsive">
    <thead class="table-dark">
        <tr>
            <th>
                Booking No
            </th>
            <th>
                Arrival Date
            </th>
            <th>
                Departure Date
            </th>
            <th>
                Guest Name
            </th>
            <th>
                Guest Surname
            </th>
            <th>
                Guest Phone
            </th>
            <th>
                Guest Email
            </th>
            <th>
                Room No
            </th>
            <th>
                Status
            </th>
            <th>
                Sum Days
            </th>
            <th>
                Daily Person Price
            </th>
            <th>
                Extras Price
            </th>
            <th>
                Discount Price
            </th>
            <th>
                Total Price
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @item.BookingId
                </td>
                <td>
                    @item.Arrivaldate
                </td>
                <td>
                    @item.DepartureDate
                </td>

                @foreach (var guest in item.GuestInformation)
                {
                    <td>
                        @guest.GuestName
                    </td>
                    <td>
                        @guest.GuestSurName
                    </td>
                    <td>
                        @guest.GuestPhone
                    </td>
                    <td>
                        @guest.GuestEmail
                    </td>
                }
                <td>
                    @item.RoomNo
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.SumDays
                </td>

                @foreach (var payment in item.Payments)
                {
                    <td>
                        @payment.DailyPersonPrice
                    </td>
                    <td>
                        @payment.Extrasprice
                    </td>
                    <td>
                        @payment.DiscountPrice
                    </td>
                    <td>
                        @payment.TotalPrice
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookingId })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookingId })
                </td>
            </tr>
        </tbody>
    }
</table>

