@model HotelEntity.Entites.GuestInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GuestInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingInformation.RoomNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingInformation.RoomNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestSurName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestSurName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestIdentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestIdentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestBirthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestBirthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestFatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestFatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestMotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestMotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestMartialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestMartialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestIdentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestIdentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestIdentSerialNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestIdentSerialNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestCarPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestCarPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestRezervationNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestRezervationNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestsequenceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestsequenceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GuestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
