@model IEnumerable<HotelEntity.Entites.GuestInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingInformation.BookingId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BookingInformation.RoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestSurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestIdentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestBirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestFatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestMotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestMartialStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestIdentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestIdentSerialNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestDistrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestCarPlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestRezervationNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestsequenceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingInformation.BookingId)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.BookingInformation.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestSurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestIdentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestBirthDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestFatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestMotherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestMartialStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestIdentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestIdentSerialNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestDistrict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestCarPlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestRezervationNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestsequenceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingId })
        </td>
    </tr>
}

</table>
