@using HotelEntity.Entites;
@model ICollection<BookingInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="btn bg-white btn-sm">
    @Html.ActionLink("Create New", "Create")
</button>
<br />
<br />
<div class="table-responsive-sm">
    <table class="table table-sm table-striped table-bordered table-hover">
        <thead class="table-dark text-sm-center">
            <tr>
                <th class="text-sm-center px-3">
                    <small>Booking No</small>
                </th>
                <th class="px-3">
                    <small>Arrival Date</small>
                </th>
                <th class="px-3">
                    <small>Departure Date</small>
                </th>
                <th class="px-3">
                    <small>Guest Name</small>
                </th>
                <th class="px-3">
                    <small>Guest Surname</small>
                </th>
                <th class="px-4">
                    <small>Phone Number</small>
                </th>
                <th class="px-8">
                    <small>Email</small>
                </th>
                <th class="px-3">
                    <small>Room No</small>
                </th>
                <th class="px-3">
                    <small>Status</small>
                </th>
                <th class="px-1">
                    <small>Sum Days</small>
                </th>
                <th class="px-3">
                    <small>D.Person Price</small>
                </th>
                <th class="px-3">
                    <small>Extras price</small>
                </th>
                <th class="px-3">
                    <small>Discount Price</small>
                </th>
                <th class="px-5">
                    Total Price
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody class="text-center">
                <tr class="text-sm-center">
                    <td>
                        <small>@item.BookingId</small>
                    </td>
                    <td>
                        <small>@item.Arrivaldate.ToShortDateString()</small>
                    </td>
                    <td>
                        <small>@item.DepartureDate.ToShortDateString()</small>
                    </td>
                    @foreach (var guest in item.GuestInformation)
                    {
                        <td>
                            <small>@guest.GuestName</small>
                        </td>
                        <td>
                            <small>@guest.GuestSurName</small>
                        </td>
                        <td>
                            <small>@guest.GuestPhone</small>
                        </td>
                        <td>
                            <small>@guest.GuestEmail</small>
                        </td>
                    }
                    <td>
                        <small>@item.RoomNo</small>
                    </td>
                    <td>
                        <small>@item.Status</small>
                    </td>
                    <td>
                        <small>@item.SumDays</small>
                    </td>
                    @foreach (var payment in item.Payments)
                    {
                        <td>
                            <small>@payment.DailyPersonPrice.Value.ToString("C")</small>
                        </td>
                        <td>
                            <small>@payment.Extrasprice.Value.ToString("C")</small>
                        </td>
                        <td>
                            <small>@payment.DiscountPrice.Value.ToString("C")</small>
                        </td>
                        <td>
                            @payment.TotalPrice.ToString("C")
                        </td>
                    }
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookingId })
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookingId })
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>