@model IEnumerable<HotelEntity.Entites.BookingInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.BookingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrivaldate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildWithFeeTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllPersonTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccommodationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breakfast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lunch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dinner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingId)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Arrivaldate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SumDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildWithFeeTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllPersonTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccommodationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breakfast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lunch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dinner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingId })
        </td>
    </tr>
}

</table>
